// CommandBars resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_LTH)
#ifdef _WIN32
LANGUAGE LANG_LITHUANIAN, SUBLANG_LITHUANIAN
#pragma code_page(1257)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Mygtukø redaktorius"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Paveikslëlis",IDC_STATIC,7,7,86,8
    GROUPBOX        "Spalvos",IDC_STATIC,102,106,80,71
    GROUPBOX        "Judëti",IDC_STATIC,101,72,81,31
    GROUPBOX        "Perþiûra",IDC_STATIC,7,106,86,71
    GROUPBOX        "Árankiai",IDC_STATIC,101,9,81,60
    DEFPUSHBUTTON   "Gerai",IDOK,193,7,50,14
    PUSHBUTTON      "Atðaukti",IDCANCEL,193,25,50,14
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,7,17,86,80
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,14,117,73,54,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    LTEXT           "Skaidrus",IDC_STATIC,135,156,42,8
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "Árankiai",XTP_IDC_STATIC_TOOLS,112,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Judëti",XTP_IDC_STATIC_MOVE,111,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "Spalvos",XTP_IDC_STATIC_COLORS,107,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 258, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Klaviatûra"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Kategorija:",IDC_STATIC,4,5,89,8
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,4,15,91,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Komandos:",XTP_IDC_TXT_COMMANDS,4,28,89,8
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS_EX,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Pagrindinës uþduotys:",XTP_IDC_TXT_ASSIGNMENTS,100,28,73,8
    LISTBOX         XTP_IDC_LBOX_KEYS,100,38,71,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_KEYS_EX,100,38,71,51,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Paspauskite naujà spartøjá klaviðà:",XTP_IDC_TXT_NEWKEY,100,93,140,8
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,100,103,71,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Priskirti",XTP_IDC_BTN_ASSIGN,175,39,80,14
    PUSHBUTTON      "Paðalinti",XTP_IDC_BTN_REMOVE,175,56,80,14
    PUSHBUTTON      "Atstatyti viskà",XTP_IDC_BTN_ACCEL_RESET,175,73,80,14
    LTEXT           "Apibûdinimas:",XTP_IDC_TXT_DESC_TITLE,4,117,89,8
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,4,127,251,19,0,
                    WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 258, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Árankiø juostos"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Árankiø juostos:",IDC_STATIC,4,5,148,8
    LISTBOX         XTP_IDC_LIST_TOOLBARS,4,15,175,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Nauja...",XTP_IDC_BUTTON_NEW,184,15,70,14
    PUSHBUTTON      "Pervardyti...",XTP_IDC_BUTTON_RENAME,184,33,70,14
    PUSHBUTTON      "Iðtrinti",XTP_IDC_BUTTON_DELETE,184,51,70,14
    PUSHBUTTON      "Nustatyti ið naujo...",XTP_IDC_BUTTON_RESET,184,69,70,14
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 258, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Galimybës"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Personalizuoti meniu ir árankiø juostos",XTP_IDC_GROUP_PERSONALIZED,4,5,250,8
    CONTROL         "Visada rodyti visus meniu",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,17,216,10
    CONTROL         "Po trumpos delsos rodyti visus meniu",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,29,204,10
    PUSHBUTTON      "Ið naujo nustatyti meniu ir árankiø juostos naudojimo duomenis",
                    XTP_IDC_BUTTON_RESETDATA,10,42,145,14
    LTEXT           "Kita", XTP_IDC_GROUP_OTHER,4,70,250,8
    CONTROL         "Didelës piktogramos",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,82,216,10
    CONTROL         "Rodyti ekrano patarimus árankiø juostose",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,93,216,10
    CONTROL         "Rodyti sparèiuosius klaviðus ekrano patarimuose",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,104,204,10
    LTEXT           "Meniu animacijos:",IDC_STATIC,10,117,56,8
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,70,115,129,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 258, 150
 STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "&Komandos..."
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Norëdami átraukti komandà á árankiø juostà: pasirinkite kategorijà ir vilkite komandà ið ðio dialogo lango á árankiø juostà.",
                    IDC_STATIC,4,5,220,19
    LTEXT           "Kategorijos:",IDC_STATIC,4,25,80,8
    LISTBOX         XTP_IDC_LIST_CATEGORIES,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LIST_CATEGORIES_EX,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Komandos:",IDC_STATIC,90,25,134,8
    LISTBOX         XTP_IDC_LIST_COMMANDS,90,35,163,111,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "&Meniu"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Programø meniu",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "Kontekstiniai meniu",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "Rodyti meniu:",IDC_STATIC,10,20,64,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,74,18,159,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Nustatyti ið naujo",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "Numatytasis meniu\nNumatytasis programos meniu",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "Pasirinkite kontekstiná meniu:",IDC_STATIC,10,92,98,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,113,90,120,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Nustatyti ið naujo",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Nauja árankiø juosta"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Árankiø juostos pavadinimas:",IDC_STATIC,4,4,178,8
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Gerai",IDOK,78,34,50,14
    PUSHBUTTON      "Atðaukti",IDCANCEL,132,34,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Pritaikyti"
    BEGIN
        MENUITEM "Nustatyti ið naujo",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "Iðtrinti",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Vardas:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "Kopijuoti mygtuko vaizdà",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "Áklijuoti mygtuko vaizdà",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "Ið naujo nustatyti mygtuko vaizdà",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "Redaguoti mygtuko vaizdà...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "Keisti mygtuko vaizdà",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "Numatytasis stilius",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "Tik tekstas",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "Vaizdas ir tekstas",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "Pradëti grupæ",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "Uþdaryti"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "Pritaikyti"
    XTP_IDS_NEWMENU         "Naujas meniu"
    XTP_IDS_CUSTOMIZE_STATUSBAR "Tinkinkite bûsenos juostà"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "Tai iðtrins komandø, kurias naudojote ðioje programoje, áraðà ir atkurs numatytàjá matomø komandø rinkiná meniu ir árankiø juostose. Tai neatðauks jokiø aiðkiø tinkinimø. Ar tikrai norite tai padaryti?"
    XTP_IDS_INVALID_NUMBER  "Tai neteisingas numeris."
    XTP_IDS_INVALID_FONTSIZE "Skaièius turi bûti nuo 1 iki 1638."
    XTP_IDS_CONFIRM_RESET   "Ar tikrai norite ið naujo nustatyti '%s' árankiø juostos pakeitimus?"
    XTP_IDS_BUILTINMENUS    "Integruoti meniu"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "Pielâgots %d"
    XTP_IDS_ERROR_BLANKNAME "Rîkjoslas nosaukuma lauks nedrîkst bût tukðs. Ierakstiet vârdu."
    XTP_IDS_ERROR_LIMIT     "Atvainojiet, ka esat sasniedzis limitu."
    XTP_IDS_ERROR_EXISTS    "Rîkjosla ar nosaukumu '%s' jau pastâv. Ierakstiet citu nosaukumu."
    XTP_IDS_RENAMETOOLBAR   "Pârdçvçt rîkjoslu"
    XTP_IDS_CONFIRM_DELETE  "Vai tieðâm vçlaties dzçst '%s' rîkjoslu?"
    XTP_IDS_ALLCOMMANDS     "Visas komandas"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "Pielâgojiet lietojumprogrammu izskatu, rîkjoslas un izvçlnes\nPielâgot..."
    XTP_ID_CUSTOMIZE_RESET  "\nAtiestatît rîkjoslu"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nPievienot vai noòemt pogas"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "Ar tikrai norite ið naujo nustatyti raktø priskyrimus? Ðis veiksmas paðalins visas priskirtas raktø priskyrimas teksto lygiu."
    XTP_IDS_CONFIRM_REASSIGN 
                            "Ðis spartusis klaviðas ðiuo metu priskirtas.\nAr norite ið naujo priskirti ðá spartøjá klaviðà?"
    XTP_IDS_CONFIRM_UPDATE  "Dël programinës árangos atnaujinimo árankiø juosta '%s' pasikeitë. Ar norëtumëte ið naujo nustatyti tinkintà árankiø juostà ir ákelti naujà?"
    XTP_IDS_IMAGEEDITOR_FILTER
                            "Visi paveikslëliø failai|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.png;*.cur;*.gif;*.jpg|Bitmaps (*.bmp;*.dib; *.png;*.gif;*.jpg)|*.bmp;*.dib;*.png;*.gif;*.jpg|Metafailai (*.wmf;*.emf)|*.wmf;*. emf|Piktogramos (*.ico;*.cur)|*.ico;*.cur|Visi failai (*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nÁrankiø juostos parinktys"
    XTP_ID_TOOLBAR_HIDE     "\nUþdaryti"
    XTP_ID_POPUPBAR_EXPAND  "\nIðplësti"
    XTP_ID_MENUBAR_CLOSE    "\nUþdaryti langà"
    XTP_ID_MENUBAR_RESTORE  "\nAtkurti langà"
    XTP_ID_MENUBAR_MINIMIZE "\nSumaþinti langà"

    XTP_IDS_SHORTCUT_SECONDKEY "(%s) buvo paspaustas. Laukiama antrojo akordo klaviðo..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nPieðtukas"
    XTP_ID_BUTTON_FILL      "\nUþpildymo spalva"
    XTP_ID_BUTTON_GETCOLOR  "\nPasirinkite spalvà"
    XTP_ID_BUTTON_LINE      "\nEilutë"
    XTP_ID_BUTTON_RECTANGLE "\nStaèiakampis"
    XTP_ID_BUTTON_CIRCLE    "\nElipsë"
    XTP_ID_BUTTON_COPY      "\nKopijuoti"
    XTP_ID_BUTTON_PASTE     "\nÁklijuoti"
    XTP_ID_BUTTON_CLEAR     "\nIðvalyti"
    XTP_ID_BUTTON_UNDO      "\nAnuliuoti"
    XTP_ID_BUTTON_REDO      "\nPakartoti"
    XTP_ID_BUTTON_OPEN      "\nImportuoti ið failo"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(Numatytasis sistemos)"
    XTP_IDS_ANIMATION_RANDOM "Atsitiktinis"
    XTP_IDS_ANIMATION_UNFOLD "Iðskleiskite"
    XTP_IDS_ANIMATION_SLIDE "Skaidrë"
    XTP_IDS_ANIMATION_FADE  "Iðblukti"
    XTP_IDS_ANIMATION_NONE  "Në vienas"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\nPerkelti á ankstesnæ skirtukø grupæ"
    XTP_ID_WORKSPACE_MOVENEXT "\nPereiti prie kito skirtuko grupës"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nNauja horizontaliøjø skirtukø grupë"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nNauja vertikaliø skirtukø grupë"
    XTP_ID_WORKSPACE_CANCEL "\nAtðaukti"
    XTP_ID_WORKSPACE_DETACH "\nAtjungti"
    XTP_ID_WORKSPACE_DETACH_ALL "\nAtjungti viskà"
    XTP_ID_WORKSPACE_ATTACH "\nPridëkite"
    XTP_ID_WORKSPACE_ATTACH_ALL "\nPridëti viskà"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "Aktyvûs failai"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_PREVIEW_PRINT    "Spausdinti perþiûrëtà elementà\nSpausdinti"
    XTP_ID_PREVIEW_PREV     "Eiti á ankstesná puslapá\nAnkstesnis puslapis"
    XTP_ID_PREVIEW_NEXT     "Eiti á kità puslapá\nKitas puslapis"
    XTP_ID_PREVIEW_ZOOMIN   "Padidinti perþiûros puslapio padidinimà\nPriartinti"
    XTP_ID_PREVIEW_ZOOMOUT  "Sumaþinti perþiûros puslapio didinimà\nSumaþinti"
    XTP_ID_PREVIEW_ONEPAGE  "Vienas puslapis"
    XTP_ID_PREVIEW_TWOPAGE  "Keli puslapiai"
    XTP_ID_PREVIEW_CLOSE    "Uþdaryti perþiûrà\nUþdaryti perþiûrà"
    XTP_IDS_PREVIEW_WHOLEPAGE "Visas puslapis"
    XTP_IDS_PREVIEW_PAGEWIDTH "Puslapio plotis"
    XTP_IDS_PREVIEW_PAGEI     "Puslapis %i"
    XTP_IDS_PREVIEW_PAGEIOFI  "%i puslapis ið %i"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_LTH)
