// CommandBars resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_SLV)
#ifdef _WIN32
LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Urejevalnik gumbov"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Slika",IDC_STATIC,7,7,86,8
    GROUPBOX        "Barve",IDC_STATIC,102,106,80,71
    GROUPBOX        "Premakni se",IDC_STATIC,101,72,81,31
    GROUPBOX        "&Predogled",IDC_STATIC,7,106,86,71
    GROUPBOX        "Orodja",IDC_STATIC,101,9,81,60
    DEFPUSHBUTTON   "V redu",IDOK,193,7,50,14
    PUSHBUTTON      "Preklièi",IDCANCEL,193,25,50,14
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,7,17,86,80
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,14,117,73,54,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    LTEXT           "Pregleden",IDC_STATIC,135,156,42,8
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "Orodja",XTP_IDC_STATIC_TOOLS,112,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Premakni se",XTP_IDC_STATIC_MOVE,111,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "Barve",XTP_IDC_STATIC_COLORS,107,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Tipkovnica"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Kategorija:",IDC_STATIC,4,5,89,8
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,4,15,91,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Ukazi:",XTP_IDC_TXT_COMMANDS,4,28,89,8
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS_EX,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Kljuène naloge:",XTP_IDC_TXT_ASSIGNMENTS,100,28,73,8
    LISTBOX         XTP_IDC_LBOX_KEYS,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_KEYS_EX,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Pritisnite novo tipko za bližnjico:",XTP_IDC_TXT_NEWKEY,100,91,110,8
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,100,103,75,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Dodeli",XTP_IDC_BTN_ASSIGN,179,39,49,14
    PUSHBUTTON      "Odstrani",XTP_IDC_BTN_REMOVE,179,56,49,14
    PUSHBUTTON      "Ponastavi vse",XTP_IDC_BTN_ACCEL_RESET,179,73,49,14
    LTEXT           "Opis:",XTP_IDC_TXT_DESC_TITLE,4,117,89,8
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,4,127,224,19,0,
                    WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Orodne vrstice"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Orodne vrstice:",IDC_STATIC,4,5,148,8
    LISTBOX         XTP_IDC_LIST_TOOLBARS,4,15,150,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Novo ...",XTP_IDC_BUTTON_NEW,158,15,70,14
    PUSHBUTTON      "Preimenuj ...",XTP_IDC_BUTTON_RENAME,158,33,70,14
    PUSHBUTTON      "Izbriši",XTP_IDC_BUTTON_DELETE,158,51,70,14
    PUSHBUTTON      "Ponastaviti ...",XTP_IDC_BUTTON_RESET,158,69,70,14
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Opcije"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Prilagojeni meniji in orodne vrstice",XTP_IDC_GROUP_PERSONALIZED,4,5,222,8
    CONTROL         "Vedno prikaži celotne menije",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,17,216,10
    CONTROL         "Prikaži celotne menije po kratkem zamiku",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,29,204,10
    PUSHBUTTON      "Ponastavi podatke o uporabi menija in orodne vrstice",
                    XTP_IDC_BUTTON_RESETDATA,10,42,125,14
    LTEXT           "drugo", XTP_IDC_GROUP_OTHER,4,70,222,8
    CONTROL         "Velike ikone",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,82,216,10
    CONTROL         "Prikaži zaslonske nasvete v orodnih vrsticah",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,93,216,10
    CONTROL         "Pokaži tipke za bližnjice v zaslonskih namigih",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,104,204,10
    LTEXT           "Animacije menija:",IDC_STATIC,10,117,82,8
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,96,115,99,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Ukazi"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Èe želite dodati ukaz v orodno vrstico: izberite kategorijo in povlecite ukaz iz tega pogovornega okna v orodno vrstico.",
                    IDC_STATIC,4,5,220,19
    LTEXT           "Kategorije:",IDC_STATIC,4,25,80,8
    LISTBOX         XTP_IDC_LIST_CATEGORIES,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LIST_CATEGORIES_EX,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Ukazi:",IDC_STATIC,90,25,134,8
    LISTBOX         XTP_IDC_LIST_COMMANDS,90,35,135,111,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "&Meniji"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Meniji aplikacij",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "Kontekstni meniji",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "Pokaži meni:",IDC_STATIC,10,20,64,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,74,18,149,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Ponastaviti",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "Privzeti meni\nPrivzeti meni aplikacije",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "Izberite kontekstni meni:",IDC_STATIC,10,92,88,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,103,90,120,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Ponastaviti",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Nova orodna vrstica"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Ime orodne vrstice:",IDC_STATIC,4,4,178,8
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "V redu",IDOK,78,34,50,14
    PUSHBUTTON      "Preklièi",IDCANCEL,132,34,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Prilagoditi"
    BEGIN
        MENUITEM "Ponastaviti",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "Izbriši",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Ime:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "Kopiraj sliko gumba",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "Prilepi sliko gumba",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "Slika gumba za ponastavitev",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "Uredi sliko gumba...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "Spremeni sliko gumba",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "Privzeti slog",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "Samo besedilo",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "Slika in besedilo",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "Zaènite skupino",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "Zapri"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "Prilagoditi"
    XTP_IDS_NEWMENU         "Nov meni"
    XTP_IDS_CUSTOMIZE_STATUSBAR "Prilagodite vrstico stanja"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "S tem boste izbrisali zapis ukazov, ki ste jih uporabili v tej aplikaciji, in obnovili privzeti nabor vidnih ukazov v menijih in orodnih vrsticah. Ne bo razveljavilo nobenih izrecnih prilagoditev. Ste preprièani, da želite to narediti?"
    XTP_IDS_INVALID_NUMBER  "To ni veljavna številka."
    XTP_IDS_INVALID_FONTSIZE "Število mora biti med 1 in 1638."
    XTP_IDS_CONFIRM_RESET   "Ali ste preprièani, da želite ponastaviti spremembe orodne vrstice '%s'?"
    XTP_IDS_BUILTINMENUS    "Vgrajeni meniji"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "Po meri %d"
    XTP_IDS_ERROR_BLANKNAME "Ime orodne vrstice ne sme biti prazno. Vnesite ime."
    XTP_IDS_ERROR_LIMIT     "Žal ste dosegli svojo mejo."
    XTP_IDS_ERROR_EXISTS    "Orodna vrstica z imenom '%s' že obstaja. Vnesite drugo ime."
    XTP_IDS_RENAMETOOLBAR   "Preimenuj orodno vrstico"
    XTP_IDS_CONFIRM_DELETE  "Ali ste preprièani, da želite izbrisati orodno vrstico '%s'?"
    XTP_IDS_ALLCOMMANDS     "Vsi ukazi"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "Prilagodite videz aplikacije, orodne vrstice in menije\nPrilagodite..."
    XTP_ID_CUSTOMIZE_RESET  "\nPonastavi orodno vrstico"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nDodaj ali odstrani gumbe"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "Ali ste preprièani, da želite ponastaviti dodelitve tipk? To dejanje bo odstranilo vse dodelitve tipk po meri na ravni besedila."
    XTP_IDS_CONFIRM_REASSIGN 
                            "Ta bližnjica je trenutno dodeljena.\nAli želite znova dodeliti to bližnjico?"
    XTP_IDS_CONFIRM_UPDATE  "Zaradi posodobitve programske opreme se je orodna vrstica '%s' spremenila. Ali želite ponastaviti prilagojeno orodno vrstico in naložiti novo?"
    XTP_IDS_IMAGEEDITOR_FILTER
                            "Vse slikovne datoteke|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.png;*.cur;*.gif;*.jpg|Bitne slike (*.bmp;*.dib; *.png;*.gif;*.jpg)|*.bmp;*.dib;*.png;*.gif;*.jpg|Metadatoteke (*.wmf;*.emf)|*.wmf;*. emf|Ikone (*.ico;*.cur)|*.ico;*.cur|Vse datoteke (*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nMožnosti orodne vrstice"
    XTP_ID_TOOLBAR_HIDE     "\nZapri"
    XTP_ID_POPUPBAR_EXPAND  "\nRazširi"
    XTP_ID_MENUBAR_CLOSE    "\nZapri okno"
    XTP_ID_MENUBAR_RESTORE  "\nObnovi okno"
    XTP_ID_MENUBAR_MINIMIZE "\nMinimiziraj okno"

    XTP_IDS_SHORTCUT_SECONDKEY "(%s) je bil pritisnjen. Èakanje na drugo tipko akorda ..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nSvinènik"
    XTP_ID_BUTTON_FILL      "\nBarva polnila"
    XTP_ID_BUTTON_GETCOLOR  "\nIzberi barvo"
    XTP_ID_BUTTON_LINE      "\nLinija"
    XTP_ID_BUTTON_RECTANGLE "\nPravokotnik"
    XTP_ID_BUTTON_CIRCLE    "\nElipsa"
    XTP_ID_BUTTON_COPY      "\nKopiraj"
    XTP_ID_BUTTON_PASTE     "\nPrilepi"
    XTP_ID_BUTTON_CLEAR     "\nPoèisti"
    XTP_ID_BUTTON_UNDO      "\nRazveljavi"
    XTP_ID_BUTTON_REDO      "\nPonovi"
    XTP_ID_BUTTON_OPEN      "\nUvozi iz datoteke"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(sistemsko privzeto)"
    XTP_IDS_ANIMATION_RANDOM "Nakljuèen"
    XTP_IDS_ANIMATION_UNFOLD "Razgrnite"
    XTP_IDS_ANIMATION_SLIDE "Zdrs"
    XTP_IDS_ANIMATION_FADE  "Zbledi"
    XTP_IDS_ANIMATION_NONE  "Noben"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\nPremik na prejšnjo skupino zavihkov"
    XTP_ID_WORKSPACE_MOVENEXT "\nPremik na naslednjo skupino zavihkov"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nNova vodoravna skupina zavihkov"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nNova navpièna skupina zavihkov"
    XTP_ID_WORKSPACE_CANCEL "\nPreklièi"
    XTP_ID_WORKSPACE_DETACH "\nOdklopi"
    XTP_ID_WORKSPACE_DETACH_ALL "\nOdklopi vse"
    XTP_ID_WORKSPACE_ATTACH "\nPriloži"
    XTP_ID_WORKSPACE_ATTACH_ALL "\nPriloži vse"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "Aktivne datoteke"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_PREVIEW_PRINT    "Natisni predogledni element\nNatisni"
    XTP_ID_PREVIEW_PREV     "Pojdi na prejšnjo stran\nPrejšnja stran"
    XTP_ID_PREVIEW_NEXT     "Pojdi na naslednjo stran\nNaslednja stran"
    XTP_ID_PREVIEW_ZOOMIN   "Poveèajte poveèavo strani za predogled\nPoveèaj"
    XTP_ID_PREVIEW_ZOOMOUT  "Zmanjšaj poveèavo strani za predogled\nPomanjšaj"
    XTP_ID_PREVIEW_ONEPAGE  "Ena stran"
    XTP_ID_PREVIEW_TWOPAGE  "Veè strani"
    XTP_ID_PREVIEW_CLOSE    "Zapri predogled\nZapri predogled"
    XTP_IDS_PREVIEW_WHOLEPAGE "Celotna stran"
    XTP_IDS_PREVIEW_PAGEWIDTH "Širina strani"
    XTP_IDS_PREVIEW_PAGEI     "Stran %i"
    XTP_IDS_PREVIEW_PAGEIOFI  "Stran %i od %i"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_SLV)
