// CommandBars resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_BGR)
#ifdef _WIN32
LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Редактор на бутони"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Снимка",IDC_STATIC,7,7,86,8
    GROUPBOX        "Цветове",IDC_STATIC,102,106,80,71
    GROUPBOX        "Ход",IDC_STATIC,101,72,81,31
    GROUPBOX        "Преглед",IDC_STATIC,7,106,86,71
    GROUPBOX        "Инструменти",IDC_STATIC,101,9,81,60
    DEFPUSHBUTTON   "Добре",IDOK,193,7,50,14
    PUSHBUTTON      "Отказ",IDCANCEL,193,25,50,14
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,7,17,86,80
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,14,117,73,54,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    LTEXT           "Прозрачен",IDC_STATIC,135,156,42,8
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "Инструменти",XTP_IDC_STATIC_TOOLS,112,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CTEXT           "Ход",XTP_IDC_STATIC_MOVE,111,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "Цветове",XTP_IDC_STATIC_COLORS,107,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Клавиатура"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Категория:",IDC_STATIC,4,5,89,8
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,4,15,91,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Команди:",XTP_IDC_TXT_COMMANDS,4,28,89,8
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS_EX,4,38,91,77,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Ключови назначения:",XTP_IDC_TXT_ASSIGNMENTS,100,28,73,8
    LISTBOX         XTP_IDC_LBOX_KEYS,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LBOX_KEYS_EX,100,38,75,51,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Натиснете нов клавиш за бърз достъп:",XTP_IDC_TXT_NEWKEY,100,93,100,8
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,100,103,75,12,ES_AUTOHSCROLL
    PUSHBUTTON      "Присвояване",XTP_IDC_BTN_ASSIGN,179,39,49,14
    PUSHBUTTON      "Премахване",XTP_IDC_BTN_REMOVE,179,56,49,14
    PUSHBUTTON      "Нулиране на всички",XTP_IDC_BTN_ACCEL_RESET,179,73,49,14
    LTEXT           "Описание:",XTP_IDC_TXT_DESC_TITLE,4,117,89,8
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,4,127,224,19,0,
                    WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Ленти с инструменти"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Ленти с инструменти:",IDC_STATIC,4,5,148,8
    LISTBOX         XTP_IDC_LIST_TOOLBARS,4,15,150,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "Нов...",XTP_IDC_BUTTON_NEW,158,15,70,14
    PUSHBUTTON      "Преименуване...",XTP_IDC_BUTTON_RENAME,158,33,70,14
    PUSHBUTTON      "Изтрий",XTP_IDC_BUTTON_DELETE,158,51,70,14
    PUSHBUTTON      "Нулиране...",XTP_IDC_BUTTON_RESET,158,69,70,14
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Настроики"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Персонализирани менюта и ленти с инструменти",XTP_IDC_GROUP_PERSONALIZED,4,5,222,8
    CONTROL         "Винаги показвай пълни менюта",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,17,216,10
    CONTROL         "Показване на пълните менюта след кратко забавяне",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,29,204,10
    PUSHBUTTON      "Нулирайте данните за използване на менюто и лентата с инструменти",
                    XTP_IDC_BUTTON_RESETDATA,10,42,188,14
    LTEXT           "Други", XTP_IDC_GROUP_OTHER,4,70,222,8
    CONTROL         "Големи икони",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,10,82,216,10
    CONTROL         "Показване на екранни съвети в лентите с инструменти",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,93,216,10
    CONTROL         "Показване на клавишни комбинации в екранните съвети",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,22,104,204,10
    LTEXT           "Анимации на менюто:",IDC_STATIC,10,117,77,8
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,88,115,79,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Команди"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "За да добавите команда към лента с инструменти: изберете категория и плъзнете командата от този диалогов прозорец в лента с инструменти.",
                    IDC_STATIC,4,5,220,19
    LTEXT           "Категории:",IDC_STATIC,4,25,80,8
    LISTBOX         XTP_IDC_LIST_CATEGORIES,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    LISTBOX         XTP_IDC_LIST_CATEGORIES_EX,4,35,81,111,LBS_NOINTEGRALHEIGHT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Команди:",IDC_STATIC,90,25,134,8
    LISTBOX         XTP_IDC_LIST_COMMANDS,90,35,135,111,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "Менюта"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Менюта на приложението",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "Контекстни менюта",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "Показване на менюто:",IDC_STATIC,10,20,74,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,86,18,139,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Нулиране",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "Меню по подразбиране\nМеню на приложението по подразбиране",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "Изберете контекстното меню:",IDC_STATIC,10,92,97,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,108,90,116,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Нулиране",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Нова лента с инструменти"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Име на лентата с инструменти:",IDC_STATIC,4,4,178,8
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Добре",IDOK,78,34,50,14
    PUSHBUTTON      "Отказ",IDCANCEL,132,34,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "Персонализиране"
    BEGIN
        MENUITEM "Нулиране",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "Изтрий",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Име:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "Копиране на изображение на бутон",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "Поставяне на изображение на бутон",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "Изображение на бутон за нулиране",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "Редактиране на изображението на бутона...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "Промяна на изображението на бутона",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "Стил по подразбиране",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "Само текст",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "Изображение и текст",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "Започнете група",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "Близо"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "Персонализиране"
    XTP_IDS_NEWMENU         "Ново меню"
    XTP_IDS_CUSTOMIZE_STATUSBAR "Персонализиране на лентата на състоянието"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "Това ще изтрие записа на командите, които сте използвали в това приложение, и ще възстанови набора от видими команди по подразбиране в менютата и лентите с инструменти. Това няма да отмени никакви изрични персонализации. Сигурни ли сте, че искате да направите това?"
    XTP_IDS_INVALID_NUMBER  "Това не е валиден номер."
    XTP_IDS_INVALID_FONTSIZE "Числото трябва да е между 1 и 1638."
    XTP_IDS_CONFIRM_RESET   "Сигурни ли сте, че искате да нулирате промените, направени в лентата с инструменти '%s'?"
    XTP_IDS_BUILTINMENUS    "Вградени менюта"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "Персонализиран %d"
    XTP_IDS_ERROR_BLANKNAME "Името на лентата с инструменти не може да бъде празно. Въведете име."
    XTP_IDS_ERROR_LIMIT     "Съжаляваме, че сте достигнали своя лимит."
    XTP_IDS_ERROR_EXISTS    "Лента с инструменти с име '%s' вече съществува. Въведете друго име."
    XTP_IDS_RENAMETOOLBAR   "Преименуване на лентата с инструменти"
    XTP_IDS_CONFIRM_DELETE  "Сигурни ли сте, че искате да изтриете лентата с инструменти '%s'?"
    XTP_IDS_ALLCOMMANDS     "Всички команди"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "Персонализиране на външния вид на приложението, лентите с инструменти и менютата\nПерсонализиране..."
    XTP_ID_CUSTOMIZE_RESET  "\nНулирайте лентата с инструменти"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nДобавяне или премахване на бутони"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "Сигурни ли сте, че искате да нулирате назначените клавиши? Това действие ще премахне всички персонализирани присвоявания на клавиши на ниво текст."
    XTP_IDS_CONFIRM_REASSIGN 
                            "Този пряк път в момента е зададен.\nИскате ли да преназначите този пряк път?"
    XTP_IDS_CONFIRM_UPDATE  "Поради актуализация на софтуера лентата с инструменти '%s' е променена. Искате ли да нулирате вашата персонализирана лента с инструменти и да заредите новата?"
    XTP_IDS_IMAGEEDITOR_FILTER 
                            "Всички файлове с картини|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.png;*.cur;*.gif;*.jpg|Растерни изображения (*.bmp;*.dib; *.png;*.gif;*.jpg)|*.bmp;*.dib;*.png;*.gif;*.jpg|Метафайлове (*.wmf;*.emf)|*.wmf;*. emf|Икони (*.ico;*.cur)|*.ico;*.cur|Всички файлове (*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nОпции на лентата с инструменти"
    XTP_ID_TOOLBAR_HIDE     "\nЗатвори"
    XTP_ID_POPUPBAR_EXPAND  "\nРазширяване"
    XTP_ID_MENUBAR_CLOSE    "\nЗатваряне на прозореца"
    XTP_ID_MENUBAR_RESTORE  "\nПрозорец за възстановяване"
    XTP_ID_MENUBAR_MINIMIZE "\nНамаляване на прозореца"

    XTP_IDS_SHORTCUT_SECONDKEY "(%s) беше натиснат. Изчаква се втори тон от акорд..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nМолив"
    XTP_ID_BUTTON_FILL      "\nЦвят на запълване"
    XTP_ID_BUTTON_GETCOLOR  "\nИзберете цвят"
    XTP_ID_BUTTON_LINE      "\nЛиния"
    XTP_ID_BUTTON_RECTANGLE "\nПравоъгълник"
    XTP_ID_BUTTON_CIRCLE    "\nЕлипса"
    XTP_ID_BUTTON_COPY      "\nКопиране"
    XTP_ID_BUTTON_PASTE     "\nПоставяне"
    XTP_ID_BUTTON_CLEAR     "\nЯсно"
    XTP_ID_BUTTON_UNDO      "\nОтмяна"
    XTP_ID_BUTTON_REDO      "\nВъзстановяване"
    XTP_ID_BUTTON_OPEN      "\nИмпортиране от файл"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(Система по подразбиране)"
    XTP_IDS_ANIMATION_RANDOM "Случаен"
    XTP_IDS_ANIMATION_UNFOLD "Разгънете"
    XTP_IDS_ANIMATION_SLIDE "пързалка"
    XTP_IDS_ANIMATION_FADE  "Избледняват"
    XTP_IDS_ANIMATION_NONE  "Нито един"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\nПреминаване към предишна група раздели"
    XTP_ID_WORKSPACE_MOVENEXT "\nПреминаване към следващата група раздели"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nНова група хоризонтални раздели"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nНова вертикална група раздели"
    XTP_ID_WORKSPACE_CANCEL "\nОтказ"
    XTP_ID_WORKSPACE_DETACH "\nОткачете"
    XTP_ID_WORKSPACE_DETACH_ALL "\nОтстранете всички"
    XTP_ID_WORKSPACE_ATTACH "\nПрикачване"
    XTP_ID_WORKSPACE_ATTACH_ALL "\nПрикачване на всички"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "Активни файлове"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_PREVIEW_PRINT    "Отпечатайте визуализирания елемент\nОтпечатайте"
    XTP_ID_PREVIEW_PREV     "Отидете на предишната страница\nПредишна страница"
    XTP_ID_PREVIEW_NEXT     "Отидете на следващата страница\nСледваща страница"
    XTP_ID_PREVIEW_ZOOMIN   "Увеличаване на увеличението на страницата за визуализация\nУвеличаване"
    XTP_ID_PREVIEW_ZOOMOUT  "Намаляване на увеличението на страницата за визуализация\nНамаляване"
    XTP_ID_PREVIEW_ONEPAGE  "Единична страница"
    XTP_ID_PREVIEW_TWOPAGE  "Множество страници"
    XTP_ID_PREVIEW_CLOSE    "Затворете визуализацията\nЗатворете визуализацията"
    XTP_IDS_PREVIEW_WHOLEPAGE "Цяла страница"
    XTP_IDS_PREVIEW_PAGEWIDTH "Ширина на страницата"
    XTP_IDS_PREVIEW_PAGEI     "Страница %i"
    XTP_IDS_PREVIEW_PAGEIOFI  "Страница %i от %i"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_BGR)
