// CommandBars resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "CommandBars/Resource.h"
#include "CommandBars/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_HEB)
#ifdef _WIN32
LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT
#pragma code_page(1255)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_IMAGEEDITOR_DIALOG DIALOGEX 0, 0, 253, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "עורך כפתורים"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "תְמוּנָה",IDC_STATIC,223,7,23,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "צבעים",IDC_STATIC,71,106,80,71, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "מהלך \ לזוז \ לעבור",IDC_STATIC,71,72,81,31, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "תצוגה מקדימה",IDC_STATIC,160,106,86,71, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    GROUPBOX        "כלים",IDC_STATIC,71,9,81,60, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    DEFPUSHBUTTON   "בסדר",IDOK,10,7,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לְבַטֵל",IDCANCEL,10,25,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_STATIC_PICTURE,"Static",SS_BLACKFRAME | 
                    SS_NOTIFY,160,17,86,80, WS_EX_RIGHT | WS_EX_RTLREADING
    CTEXT           "",XTP_IDC_STATIC_PREVIEW,166,117,73,54,SS_CENTERIMAGE,
                    WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_STATICEDGE
    LTEXT           "שָׁקוּף",IDC_STATIC,79,156,39,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "",XTP_IDC_CLR_ERASE,116,153,15,15,SS_NOTIFY
    CTEXT           "כלים",XTP_IDC_STATIC_TOOLS,81,21,60,43,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER, WS_EX_RIGHT | WS_EX_RTLREADING
    CTEXT           "מהלך \ לזוז \ לעבור",XTP_IDC_STATIC_MOVE,80,83,62,12,SS_CENTERIMAGE | 
                    NOT WS_VISIBLE | WS_BORDER, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "",XTP_IDC_CLR_PICKER,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOTIFY | WS_GROUP,109,144,15,15
    CTEXT           "צבעים",XTP_IDC_STATIC_COLORS,78,121,68,12,
                    SS_CENTERIMAGE | NOT WS_VISIBLE | WS_BORDER, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_PAGE_KEYBOARD DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "מקלדת"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "קטגוריה:",IDC_STATIC,195,5,31,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_CATEGORY,133,15,93,147,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "פקודות:",XTP_IDC_TXT_COMMANDS,188,28,38,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS,135,38,91,77,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LBOX_ACCEL_COMMANDS_EX,135,38,91,77,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "מטלות מפתח:",XTP_IDC_TXT_ASSIGNMENTS,64,28,67,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LBOX_KEYS,56,38,75,51,LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LBOX_KEYS_EX,56,38,75,51,LBS_HASSTRINGS | 
                    LBS_OWNERDRAWFIXED |
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "הקש על מקש קיצור חדש:",XTP_IDC_TXT_NEWKEY,55,93,76,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_SHORTCUTKEY,56,103,75,12,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לְהַקְצוֹת",XTP_IDC_BTN_ASSIGN,2,39,49,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לְהַסִיר",XTP_IDC_BTN_REMOVE,2,56,49,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לאפס הכל",XTP_IDC_BTN_ACCEL_RESET,2,73,49,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "תיאור:",XTP_IDC_TXT_DESC_TITLE,188,117,38,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "",XTP_IDC_TXT_DESC_OVERVIEW,53,127,171,19,0,
                    WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_STATICEDGE
END

XTP_IDD_PAGE_TOOLBARS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "סרגלי כלים"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "סרגלי כלים:",IDC_STATIC,183,5,43,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LIST_TOOLBARS,76,15,150,131,LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | 
                    WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "חָדָשׁ...",XTP_IDC_BUTTON_NEW,2,15,70,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "שנה שם...",XTP_IDC_BUTTON_RENAME,2,33,70,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לִמְחוֹק",XTP_IDC_BUTTON_DELETE,2,51,70,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "אִתחוּל...",XTP_IDC_BUTTON_RESET,2,69,70,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_PAGE_OPTIONS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "אפשרויות"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "תפריטים וסרגלי כלים מותאמים אישית",XTP_IDC_GROUP_PERSONALIZED,4,5,222,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "הצג תמיד תפריטים מלאים",XTP_IDC_CHECK_FULL_MENUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,4,17,216,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "הצג תפריטים מלאים לאחר עיכוב קצר",
                    XTP_IDC_CHECK_AFTERDELAY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,29,204,10, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "אפס את נתוני השימוש בתפריט ובסרגל הכלים",
                    XTP_IDC_BUTTON_RESETDATA,60,42,160,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "אַחֵר", XTP_IDC_GROUP_OTHER,4,70,222,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "אייקונים גדולים",XTP_IDC_CHECK_LARGEICONS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,4,82,216,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "הצג עצות מסך בסרגלי כלים",XTP_IDC_CHECK_SCREENTTIPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,4,93,216,10, WS_EX_RIGHT | WS_EX_RTLREADING
    CONTROL         "הצג מקשי קיצור בטיפים למסך",
                    XTP_IDC_CHECK_SHORTCUTS,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,4,104,204,10, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "אנימציות בתפריט:",IDC_STATIC,164,117,56,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    COMBOBOX        XTP_IDC_COMBO_ANIMATION,81,115,79,65,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_PAGE_COMMANDS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "פקודות"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "כדי להוסיף פקודה לסרגל כלים: בחר קטגוריה וגרור את הפקודה מתוך תיבת דו-שיח זו לסרגל כלים.",
                    IDC_STATIC,6,5,220,19, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "קטגוריות:",IDC_STATIC,188,25,38,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LIST_CATEGORIES,145,35,81,103,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LIST_CATEGORIES_EX,145,35,81,103,LBS_NOINTEGRALHEIGHT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
    LTEXT           "פקודות:",IDC_STATIC,102,25,38,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    LISTBOX         XTP_IDC_LIST_COMMANDS,4,35,136,103,LBS_OWNERDRAWFIXED | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP, WS_EX_RIGHT | WS_EX_RTLREADING
END

XTP_IDD_PAGE_MENUS DIALOGEX DISCARDABLE  0, 0, 230, 150
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
CAPTION "תפריטים"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "תפריטי יישומים",XTP_IDC_STATIC_APPLICATIONMENUS,4,5,222,
                    8
    LTEXT           "תפריטי הקשר",XTP_IDC_STATIC_CONTEXTMENUS,4,80,222,8
    LTEXT           "הראה תפריט:",IDC_STATIC,10,20,64,11
    COMBOBOX        XTP_IDC_COMBO_APPMENUS,74,18,149,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "אִתחוּל",XTP_IDC_BUTTON_RESETAPP,10,57,70,14
    LTEXT           "תפריט ברירת מחדל\nתפריט יישום ברירת מחדל",XTP_IDC_STATIC_DESCRIPTION,37,34,181,18
    ICON            0,XTP_IDC_STATIC_ICON,10,32,21,20
    LTEXT           "בחר בתפריט ההקשר:",IDC_STATIC,10,92,88,10
    COMBOBOX        XTP_IDC_COMBO_CONTEXTMENUS,103,90,120,79,CBS_DROPDOWNLIST | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "אִתחוּל",XTP_IDC_BUTTON_RESETCONTEXT,10,108,70,14
END

XTP_IDD_NEWTOOLBAR DIALOGEX DISCARDABLE  0, 0, 186, 52
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "סרגל כלים חדש"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "שם סרגל הכלים:",IDC_STATIC,82,4,100,8, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    EDITTEXT        XTP_IDC_EDIT_TOOLBARNAME,4,15,178,12,ES_AUTOHSCROLL, WS_EX_RIGHT | WS_EX_RTLREADING
    DEFPUSHBUTTON   "בסדר",IDOK,58,34,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
    PUSHBUTTON      "לְבַטֵל",IDCANCEL,4,34,50,14, 0, WS_EX_RIGHT | WS_EX_RTLREADING
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDR_CUSTOMIZEMENU MENU DISCARDABLE 
BEGIN
    POPUP "התאמה אישית"
    BEGIN
        MENUITEM "אִתחוּל",                      XTP_ID_CUSTOMIZE_RESET
        MENUITEM "לִמְחוֹק",                     XTP_ID_CUSTOMIZE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "שֵׁם:",                      XTP_ID_CUSTOMIZE_NAME
        MENUITEM SEPARATOR
        MENUITEM "העתק תמונת לחצן",          XTP_ID_CUSTOMIZE_COPYBUTTONIMAGE

        MENUITEM "הדבק תמונת לחצן",         XTP_ID_CUSTOMIZE_PASTEBUTTONIMAGE

        MENUITEM "איפוס תמונת לחצן",         XTP_ID_CUSTOMIZE_RESETBUTTONIMAGE

        MENUITEM "ערוך תמונת כפתור...",       XTP_ID_CUSTOMIZE_EDITBUTTONIMAGE

        MENUITEM "שנה תמונת כפתור",        XTP_ID_CUSTOMIZE_CHANGEBUTTONIMAGE

        MENUITEM SEPARATOR
        MENUITEM "סגנון ברירת מחדל",              XTP_ID_CUSTOMIZE_DEFAULTSTYLE

        MENUITEM "רק טקסט",                  XTP_ID_CUSTOMIZE_TEXTONLY
        MENUITEM "תמונה וטקסט",             XTP_ID_CUSTOMIZE_IMAGEANDTEXT

        MENUITEM SEPARATOR
        MENUITEM "התחל קבוצה",              XTP_ID_CUSTOMIZE_BEGINAGROUP
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE_CLOSE "סגור "
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOMIZE       "קאַסטאַמייז"
    XTP_IDS_NEWMENU         "ניו מעניו"
    XTP_IDS_CUSTOMIZE_STATUSBAR "קאַסטאַמייז סטאַטוס באַר"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_RESETDATA 
                            "דאָס וועט ויסמעקן די רעקאָרד פון די קאַמאַנדז וואָס איר האָט געוויינט אין דעם אַפּלאַקיישאַן און ומקערן די פעליקייַט גאַנג פון קענטיק קאַמאַנדז צו די מעניוז און טאָאָלבאַרס. עס וועט נישט ופמאַכן קיין יקספּליסאַט קוסטאָמיזאַטיאָנס. זענט איר זיכער אַז איר ווילן צו טאָן דאָס?"
    XTP_IDS_INVALID_NUMBER  "דאָס איז נישט אַ גילטיק נומער."
    XTP_IDS_INVALID_FONTSIZE "די נומער מוזן זיין צווישן 1 און 1638."
    XTP_IDS_CONFIRM_RESET   "זענט איר זיכער אַז איר ווילן צו באַשטעטיק די ענדערונגען געמאכט צו די '%s' מכשיר?"
    XTP_IDS_BUILTINMENUS    "געבויט-אין מעניוז"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CUSTOM_BAR      "מותאם אישית %d"
    XTP_IDS_ERROR_BLANKNAME "שם סרגל הכלים לא יכול להיות ריק. הקלד שם."
    XTP_IDS_ERROR_LIMIT     "מצטער שהגעת לגבול שלך."
    XTP_IDS_ERROR_EXISTS    "סרגל כלים בשם '%s' כבר קיים. הקלד שם אחר."
    XTP_IDS_RENAMETOOLBAR   "שנה את שם סרגל הכלים"
    XTP_IDS_CONFIRM_DELETE  "האם אתה בטוח שברצונך למחוק את סרגל הכלים '%s'?"
    XTP_IDS_ALLCOMMANDS     "כל הפקודות"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_CUSTOMIZE        "התאם אישית את מראה האפליקציה, סרגלי הכלים והתפריטים\nהתאמה אישית..."
    XTP_ID_CUSTOMIZE_RESET  "\nאפס את סרגל הכלים"
    XTP_ID_CUSTOMIZE_ADDORREMOVE "\nהוספה או הסרה של לחצנים"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_CONFIRM_KEYBOARD 
                            "האם אתה בטוח שברצונך לאפס את הקצאות המפתח? פעולה זו תסיר את כל הקצאות המפתח המותאמות אישית ברמת הטקסט."
    XTP_IDS_CONFIRM_REASSIGN 
                            "קיצור דרך זה מוקצה כעת.\nהאם ברצונך להקצות מחדש קיצור זה?"
    XTP_IDS_CONFIRM_UPDATE  "עקב עדכון תוכנה השתנה סרגל הכלים '%s'. האם תרצה לאפס את סרגל הכלים המותאם אישית שלך ולטעון את החדש?"
    XTP_IDS_IMAGEEDITOR_FILTER
                            "כל קבצי התמונה|*.bmp;*.wmf;*.emf;*.ico;*.dib;*.png;*.cur;*.gif;*.jpg|מפות סיביות (*.bmp;*.dib; *.png;*.gif;*.jpg)|*.bmp;*.dib;*.png;*.gif;*.jpg|Metafiles (*.wmf;*.emf)|*.wmf;*. emf|אייקונים (*.ico;*.cur)|*.ico;*.cur|כל הקבצים (*.*)|*.*||"
    XTP_ID_TOOLBAR_EXPAND   "\nאפשרויות סרגל כלים"
    XTP_ID_TOOLBAR_HIDE     "\nסגור"
    XTP_ID_POPUPBAR_EXPAND  "\nהרחב"
    XTP_ID_MENUBAR_CLOSE    "\nסגור חלון"
    XTP_ID_MENUBAR_RESTORE  "\nשחזור חלון"
    XTP_ID_MENUBAR_MINIMIZE "\nהקטן חלון"

    XTP_IDS_SHORTCUT_SECONDKEY "(%s) נלחץ. מחכה למקלד השני של האקורד..."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_BUTTON_PENCIL    "\nבלייַער"
    XTP_ID_BUTTON_FILL      "\n פּלאָמבירן קאָליר"
    XTP_ID_BUTTON_GETCOLOR  "\nקלייַבן קאָליר"
    XTP_ID_BUTTON_LINE      "\n ליניע"
    XTP_ID_BUTTON_RECTANGLE "\n גראָדעק"
    XTP_ID_BUTTON_CIRCLE    "\nעלליפס"
    XTP_ID_BUTTON_COPY      "\nקאָפּי"
    XTP_ID_BUTTON_PASTE     "\n פּאַפּ"
    XTP_ID_BUTTON_CLEAR     "\nקלאר"
    XTP_ID_BUTTON_UNDO      "\n ופמאַכן"
    XTP_ID_BUTTON_REDO      "\n איבערחזרן"
    XTP_ID_BUTTON_OPEN      "\n אימפארט פון טעקע"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_ANIMATION_SYSDEF "(סיסטעם פעליקייַט)"
    XTP_IDS_ANIMATION_RANDOM "טראַפ"
    XTP_IDS_ANIMATION_UNFOLD "אַנפאָולד"
    XTP_IDS_ANIMATION_SLIDE "רוק"
    XTP_IDS_ANIMATION_FADE  "וועלקן"
    XTP_IDS_ANIMATION_NONE  "קיינער"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_WORKSPACE_MOVEPREVIOUS "\n מאַך צו פרייַערדיק טאַב גרופע"
    XTP_ID_WORKSPACE_MOVENEXT "\n מאַך צו ווייַטער טאַב גרופע"
    XTP_ID_WORKSPACE_NEWHORIZONTAL "\nניו האָריזאָנטאַל טאַב גרופע"
    XTP_ID_WORKSPACE_NEWVERTICAL "\nניו ווערטיקאַל טאַב גרופע"
    XTP_ID_WORKSPACE_CANCEL "\n באָטל מאַכן"
    XTP_ID_WORKSPACE_DETACH "\nאָפּטיילן"
    XTP_ID_WORKSPACE_DETACH_ALL "\n דעטאַטש אַלע"
    XTP_ID_WORKSPACE_ATTACH "\nצוטשעפּען"
    XTP_ID_WORKSPACE_ATTACH_ALL "\nצוטשעפּען אַלע"
    XTP_IDS_TABNAVIGATEBUTTON_ACTIVEFILES "אַקטיוו טעקעס"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_ID_PREVIEW_PRINT    "דרוק דעם פּריוויוד נומער\n דרוקן"
    XTP_ID_PREVIEW_PREV     "גיין צו די פריערדיקע בלאַט\nפרייַערדיק בלאַט"
    XTP_ID_PREVIEW_NEXT     "גיין צו דער ווייַטער בלאַט\nווייַטער בלאַט"
    XTP_ID_PREVIEW_ZOOMIN   "פאַרגרעסערן מאַגנאַפאַקיישאַן פון פאָרויסיקע ווייַזונג בלאַט\n פארגרעסער אין"
    XTP_ID_PREVIEW_ZOOMOUT  "פאַרמינערן מאַגנאַפאַקיישאַן פון פאָרויסיקע ווייַזונג בלאַט\n פארגרעסער אויס"
    XTP_ID_PREVIEW_ONEPAGE  "איין בלאַט"
    XTP_ID_PREVIEW_TWOPAGE  "קייפל בלעטער"
    XTP_ID_PREVIEW_CLOSE    "פאַרמאַכן די פאָרויסיקע ווייַזונג\n פאַרמאַכן פאָרויסיקע ווייַזונג"
    XTP_IDS_PREVIEW_WHOLEPAGE "גאַנץ בלאַט"
    XTP_IDS_PREVIEW_PAGEWIDTH "בלאַט ברייט"
    XTP_IDS_PREVIEW_PAGEI     "בלאַט %i"
    XTP_IDS_PREVIEW_PAGEIOFI  "בלאַט %i פון %i"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_HEB)
