// Controls resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_POL))
#ifdef _WIN32
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 127
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Porada dnia"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Blisko",IDOK,224,108,50,14
    CONTROL         "Poka¿ wskazówki podczas uruchamiania",XTP_IDC_CHK_DAYTIP_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,110,140,10
    PUSHBUTTON      "&Nastêpna wskazówka",XTP_IDC_BTN_DAYTIP_NEXT,157,108,63,14
    CONTROL         "",XTP_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT WS_VISIBLE,0,0,279,103
END

XTP_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Zwyczaj"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Zabarwienie:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XTP_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "Odcieñ:",XTP_IDC_TXT_HUE,2,108,27,8
    EDITTEXT        XTP_IDC_EDIT_HUE,44,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,105,
                    10,14
    LTEXT           "Nasycenie:",XTP_IDC_TXT_SAT,2,125,36,8
    EDITTEXT        XTP_IDC_EDIT_SAT,44,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,122,
                    10,14
    LTEXT           "Luminancja:",XTP_IDC_TXT_LUM,2,140,40,8
    EDITTEXT        XTP_IDC_EDIT_LUM,44,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,64,137,
                    10,14
    LTEXT           "Czerwony:",XTP_IDC_TXT_RED,84,108,35,8
    EDITTEXT        XTP_IDC_EDIT_RED,121,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,160,105,
                    11,14
    LTEXT           "Zielony:",XTP_IDC_TXT_GREEN,84,125,25,8
    EDITTEXT        XTP_IDC_EDIT_GREEN,121,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,160,122,
                    11,14
    LTEXT           "Niebieski:",XTP_IDC_TXT_BLUE,84,140,31,8
    EDITTEXT        XTP_IDC_EDIT_BLUE,121,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,160,137,
                    11,14
END

XTP_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Standard"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Zabarwienie:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XTP_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "U³ó¿ okna"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Wybierz okno:",IDC_STATIC,7,7,147,8
    LISTBOX         XTP_IDC_LBOX_WINDOWS,7,17,203,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Aktywuj",XTP_IDC_BTN_ACTIVATE,213,7,86,14
    PUSHBUTTON      "OK",IDOK,213,24,86,14
    PUSHBUTTON      "Ratowaæ",XTP_IDC_BTN_SAVE,213,41,86,14
    PUSHBUTTON      "Zamknij okno",XTP_IDC_BTN_CLOSEWINDOWS,213,58,86,14
    PUSHBUTTON      "Kaskada",XTP_IDC_BTN_CASCADE,213,75,86,14
    PUSHBUTTON      "U³o¿yæ poziomo",XTP_IDC_BTN_TILEHORZ,213,92,86,14
    PUSHBUTTON      "Pionowo",XTP_IDC_BTN_TILEVERT,213,109,86,14
    PUSHBUTTON      "Zminimalizowaæ",XTP_IDC_BTN_MINIMIZE,213,126,86,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Ma³e ikony",                XTP_IDC_SMALLICON
        MENUITEM "Du¿e ikony",                XTP_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Cofnij",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Skaleczenie",                        ID_EDIT_CUT
        MENUITEM "Kopiuj",                       ID_EDIT_COPY
        MENUITEM "Pasta",                      ID_EDIT_PASTE
        MENUITEM "Usun¹æ",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Zaznacz wszystko",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Sortuj rosn¹co",              XTP_IDC_SORTASC
        MENUITEM "Sortuj malej¹co",             XTP_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Wyrównanie"
        BEGIN
            MENUITEM "Wyrównaj do lewej",                  XTP_IDC_ALIGNLEFT
            MENUITEM "Wyrównaj do œrodka",                XTP_IDC_ALIGNCENTER
            MENUITEM "Wyrównaj do prawej",                 XTP_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_BTN_NEW          "Nowy"
    XTP_IDC_BTN_DELETE       "Usun¹æ"
    XTP_IDC_BTN_UP           "Podnieœæ"
    XTP_IDC_BTN_DOWN         "Padnij"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_NAME             "Imiê"
    XTP_IDS_SIZE             "Rozmiar"
    XTP_IDS_TYPE             "Rodzaj"
    XTP_IDS_MODIFIED         "Zmodyfikowany"
    XTP_IDS_COLOR_AUTO       "Automatyczny"
    XTP_IDS_COLOR_CUST       "Dostosuj..."
    XTP_IDS_SELDIR           "Wybierz katalog:"
    XTP_IDS_DOT              "..."
    XTP_IDS_DEFEXT           "*.*"
    XTP_IDS_DEFFILT          "Wszystkie pliki (*.*)|*.*||"
    XTP_IDS_DEFTITLE         "Nazwa katalogu:"
    XTP_IDS_CLICKKEEPOPEN    "Kliknij pinezkê, aby zachowaæ otwarte"
    XTP_IDS_SE_0             "W systemie operacyjnym brakuje pamiêci lub zasobów."
    XTP_IDS_SE_ERR_FNF       "Nie znaleziono okreœlonego pliku."
    XTP_IDS_SE_ERR_PNF       "Nie znaleziono okreœlonej œcie¿ki."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_SE_ERR_ACCESSDENIED    "System operacyjny odmówi³ dostêpu do okreœlonego pliku."
    XTP_IDS_SE_ERR_OOM             "Zabrak³o pamiêci, aby zakoñczyæ operacjê."
    XTP_IDS_SE_ERR_BAD_FORMAT      "Plik .exe jest nieprawid³owy (plik inny ni¿ Win32® lub b³¹d w obrazie .exe)."
    XTP_IDS_SE_ERR_SHARE           "Wyst¹pi³o naruszenie zasad udostêpniania."
    XTP_IDS_SE_ERR_ASSOCINCOMPLETE "Powi¹zanie nazwy pliku jest niekompletne lub nieprawid³owe."
    XTP_IDS_SE_ERR_DDETIMEOUT      "Transakcja DDE nie mog³a zostaæ zakoñczona, poniewa¿ up³yn¹³ limit czasu ¿¹dania."
    XTP_IDS_SE_ERR_DDEFAIL         "Transakcja DDE nie powiod³a siê."
    XTP_IDS_SE_ERR_DDEBUSY         "Transakcja DDE nie mog³a zostaæ zakoñczona, poniewa¿ inne transakcje DDE by³y przetwarzane."
    XTP_IDS_SE_ERR_NOASSOC         "Nie ma aplikacji powi¹zanej z podanym rozszerzeniem nazwy pliku."
    XTP_IDS_SE_ERR_DLLNOTFOUND     "Nie znaleziono okreœlonej biblioteki do³¹czanej dynamicznie."
    XTP_IDS_SE_ERR_UNKOWN          "Wyst¹pi³ nieznany numer b³êdu %d."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_SORTASC          "Sortuj rosn¹co\nSortuj rosn¹co"
    XTP_IDC_SORTDSC          "Sortuj malej¹co\nSortuj malej¹co"
    XTP_IDC_ALIGNLEFT        "Wyrównuje akapit do lewego marginesu\nWyrównaj do lewej"
    XTP_IDC_ALIGNCENTER      "Wyœrodkowuje akapit miêdzy marginesami\nWyœrodkuj"
    XTP_IDC_ALIGNRIGHT       "Wyrównuje akapit do prawego marginesu\nWyrównaj do prawej"
    XTP_IDC_LARGEICON        "Poka¿ du¿e ikony\nDu¿e ikony"
    XTP_IDC_SMALLICON        "Poka¿ ma³e ikony\nMa³e ikony"
    XTP_IDC_REMOVEITEM       "Usuñ z paska programu Outlook"
    XTP_IDC_RENAMEITEM       "Zmieñ nazwê skrótu"
    XTP_IDC_REMOVEGROUP      "Usuñ grupê"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_RENAMEGROUP      "Zmieñ nazwê grupy"
    XTP_IDS_HEX              "Kl¹twa"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_STD_COLORS       "Standardowe kolory"
	XTP_IDS_RECENT_COLORS    "Najnowsze kolory"
	XTP_IDS_THEME_COLORS     "Kolory motywu"
	XTP_IDS_TAGCLOUD_TIP     "Znacznik: %s, Wynik: %d"
    XTP_IDS_TIPTEXT          "Tekst porady"
    XTP_IDS_DIDYOUKNOW       "Czy wiedzia³eœ..."
    XTP_IDS_FILE_ABSENT      "Okreœlony plik nie istnieje."
    XTP_IDS_FILE_CORRUPT     "B³¹d odczytu pliku."
    XTP_IDS_COLOR_CAPTION    "Zabarwienie"
    XTP_IDS_NEW              "Nowy"
    XTP_IDS_CURRENT          "Aktualny"
    XTP_IDS_DIRECTORIES      "Katalogi:"
    XTP_IDS_FILES            "Pliki:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "OK"
    XTP_IDS_TASK_YES          "Tak"
    XTP_IDS_TASK_NO           "Nie"
    XTP_IDS_TASK_RETRY        "Spróbowaæ ponownie"
    XTP_IDS_TASK_CANCEL       "Anuluj"
    XTP_IDS_TASK_CLOSE        "Blisko"
    XTP_IDS_TASK_APPLY        "Zastosowaæ"
    XTP_IDS_TASK_HELP         "Pomoc"
    XTP_IDS_TASK_SEE_DETAILS  "Poka¿ szczegó³y"
    XTP_IDS_TASK_HIDE_DETAILS "Ukryj szczegó³y"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_BACKGROUND1        "T³o 1"
    XTP_IDS_BACKGROUND2        "T³o 2"
    XTP_IDS_TEXT1              "Tekst 1"
    XTP_IDS_TEXT2              "Tekst 2"
    XTP_IDS_ACCENT1            "Akcent 1"
    XTP_IDS_ACCENT2            "Akcent 2"
    XTP_IDS_ACCENT3            "Akcent 3"
    XTP_IDS_ACCENT4            "Akcent 4"
    XTP_IDS_ACCENT5            "Akcent 5"
    XTP_IDS_ACCENT6            "Akcent 6"
    XTP_IDS_LIGHTER            "Zapalniczka"
    XTP_IDS_DARKER             "Ciemniejszy"
END

STRINGTABLE DISCARDABLE
BEGIN
    XTP_IDS_PREVIEW_DEFAULT_LOADING_MESSAGE "Uzyskiwanie podgl¹du '%'"
    XTP_IDS_PREVIEW_DEFAULT_FAILED_MESSAGE  "Nie mo¿na uzyskaæ podgl¹du '%'"
END

#endif // !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_POL))
