// Controls resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_HUN))
#ifdef _WIN32
LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT
#pragma code_page(1250)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 127
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "A nap tippje"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Bezárás",IDOK,224,108,50,14
    CONTROL         "Tippek megjelenítése indításkor",XTP_IDC_CHK_DAYTIP_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,110,140,10
    PUSHBUTTON      "Következõ tipp",XTP_IDC_BTN_DAYTIP_NEXT,164,108,56,14
    CONTROL         "",XTP_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT WS_VISIBLE,0,0,279,103
END

XTP_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Egyedi"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Színek:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XTP_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "Színárnyalat:",XTP_IDC_TXT_HUE,7,108,17,8
    EDITTEXT        XTP_IDC_EDIT_HUE,27,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,51,105,
                    10,14
    LTEXT           "Telítettség:",XTP_IDC_TXT_SAT,7,125,17,8
    EDITTEXT        XTP_IDC_EDIT_SAT,27,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,51,122,
                    10,14
    LTEXT           "Fényerõ:",XTP_IDC_TXT_LUM,7,140,18,8
    EDITTEXT        XTP_IDC_EDIT_LUM,27,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,51,137,
                    10,14
    LTEXT           "Piros:",XTP_IDC_TXT_RED,65,108,23,8
    EDITTEXT        XTP_IDC_EDIT_RED,89,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,105,
                    11,14
    LTEXT           "Zöld:",XTP_IDC_TXT_GREEN,65,125,23,8
    EDITTEXT        XTP_IDC_EDIT_GREEN,89,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,122,
                    11,14
    LTEXT           "Kék:",XTP_IDC_TXT_BLUE,65,140,23,8
    EDITTEXT        XTP_IDC_EDIT_BLUE,89,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,137,
                    11,14
END

XTP_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Alapértelmezett"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Színek:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XTP_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Rendezd el a Windows rendszert"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Válassza az Ablak lehetõséget:",IDC_STATIC,7,7,147,8
    LISTBOX         XTP_IDC_LBOX_WINDOWS,7,17,198,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Aktiválja:",XTP_IDC_BTN_ACTIVATE,211,7,85,14
    PUSHBUTTON      "OK",IDOK,211,24,85,14
    PUSHBUTTON      "Mentés",XTP_IDC_BTN_SAVE,211,41,85,14
    PUSHBUTTON      "Zárja be az ablakot",XTP_IDC_BTN_CLOSEWINDOWS,211,58,85,14
    PUSHBUTTON      "Vízesés",XTP_IDC_BTN_CASCADE,211,75,85,14
    PUSHBUTTON      "Csempe vízszintesen",XTP_IDC_BTN_TILEHORZ,211,92,85,14
    PUSHBUTTON      "Csempe függõlegesen",XTP_IDC_BTN_TILEVERT,211,109,85,14
    PUSHBUTTON      "Minimalizálja",XTP_IDC_BTN_MINIMIZE,211,126,85,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Kis ikonok",                XTP_IDC_SMALLICON
        MENUITEM "Nagy ikonok",                XTP_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "Visszavonás",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Vágott",                        ID_EDIT_CUT
        MENUITEM "Másolat",                       ID_EDIT_COPY
        MENUITEM "Paszta",                      ID_EDIT_PASTE
        MENUITEM "Töröl",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Mindet kiválaszt",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Növekvõ rendezés",              XTP_IDC_SORTASC
        MENUITEM "Csökkenõ rendezés",             XTP_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Igazítás"
        BEGIN
            MENUITEM "Balra igazít",                  XTP_IDC_ALIGNLEFT
            MENUITEM "Középre igazítás",                XTP_IDC_ALIGNCENTER
            MENUITEM "Igazítás jobbra",                 XTP_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_BTN_NEW          "Új"
    XTP_IDC_BTN_DELETE       "Töröl"
    XTP_IDC_BTN_UP           "Mozgás felfelé"
    XTP_IDC_BTN_DOWN         "Mozgás lefelé"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_NAME             "Név"
    XTP_IDS_SIZE             "Méret"
    XTP_IDS_TYPE             "típus"
    XTP_IDS_MODIFIED         "Módosított"
    XTP_IDS_COLOR_AUTO       "Automatikus"
    XTP_IDS_COLOR_CUST       "Testreszab..."
    XTP_IDS_SELDIR           "Válassza ki a könyvtárat:"
    XTP_IDS_DOT              "..."
    XTP_IDS_DEFEXT           "*.*"
    XTP_IDS_DEFFILT          "Minden fájl (*.*)|*.*||"
    XTP_IDS_DEFTITLE         "Könyvtár neve:"
    XTP_IDS_CLICKKEEPOPEN    "Kattintson a nyomógombra, hogy nyitva maradjon"
    XTP_IDS_SE_0             "Az operációs rendszer memóriája vagy erõforrásai elfogytak."
    XTP_IDS_SE_ERR_FNF       "A kért fájl nem található."
    XTP_IDS_SE_ERR_PNF       "A megadott elérési út nem található."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_SE_ERR_ACCESSDENIED    "Az operációs rendszer megtagadta a hozzáférést a megadott fájlhoz."
    XTP_IDS_SE_ERR_OOM             "Nem volt elég memória a mûvelet befejezéséhez."
    XTP_IDS_SE_ERR_BAD_FORMAT      "Az .exe fájl érvénytelen (nem Win32® .exe vagy hiba az .exe képben)."
    XTP_IDS_SE_ERR_SHARE           "Megosztási szabálysértés történt."
    XTP_IDS_SE_ERR_ASSOCINCOMPLETE "A fájlnév társítás hiányos vagy érvénytelen."
    XTP_IDS_SE_ERR_DDETIMEOUT      "A DDE-tranzakció nem hajtható végre, mert a kérés idõtúllépése miatt lejárt."
    XTP_IDS_SE_ERR_DDEFAIL         "A DDE tranzakció sikertelen."
    XTP_IDS_SE_ERR_DDEBUSY         "A DDE-tranzakciót nem lehetett befejezni, mert más DDE-tranzakciók feldolgozása folyamatban van."
    XTP_IDS_SE_ERR_NOASSOC         "A megadott fájlnév-kiterjesztéshez nem tartozik alkalmazás."
    XTP_IDS_SE_ERR_DLLNOTFOUND     "A megadott dinamikus hivatkozási könyvtár nem található."
    XTP_IDS_SE_ERR_UNKOWN          "%d számú ismeretlen hiba történt."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_SORTASC          "Rendezés növekvõ sorrendben\nNövekvõ rendezés"
    XTP_IDC_SORTDSC          "Rendezés csökkenõ sorrendben\nCsökkenõ rendezés"
    XTP_IDC_ALIGNLEFT        "A bekezdést a bal margóhoz igazítja\nBalra igazítás"
    XTP_IDC_ALIGNCENTER      "Középre állítja a bekezdést a margók között\nKözépre"
    XTP_IDC_ALIGNRIGHT       "A bekezdést a jobb margóhoz igazítja\nJobbra igazítás"
    XTP_IDC_LARGEICON        "Nagy ikonok megjelenítése\nNagy ikonok"
    XTP_IDC_SMALLICON        "Kis ikonok megjelenítése\nKis ikonok"
    XTP_IDC_REMOVEITEM       "Eltávolítás az Outlook sávból"
    XTP_IDC_RENAMEITEM       "Parancsikon átnevezése"
    XTP_IDC_REMOVEGROUP      "Csoport eltávolítása"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_RENAMEGROUP      "Csoport átnevezése"
    XTP_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_STD_COLORS       "Szabványos színek"
	XTP_IDS_RECENT_COLORS    "Legutóbbi színek"
	XTP_IDS_THEME_COLORS     "Színek téma"
	XTP_IDS_TAGCLOUD_TIP     "Címke: %s, Pontszám: %d"
    XTP_IDS_TIPTEXT          "Tipp szövege"
    XTP_IDS_DIDYOUKNOW       "Tudtad..."
    XTP_IDS_FILE_ABSENT      "A megadott fájl nem létezik."
    XTP_IDS_FILE_CORRUPT     "Hiba a fájl olvasásakor."
    XTP_IDS_COLOR_CAPTION    "Színek"
    XTP_IDS_NEW              "Új"
    XTP_IDS_CURRENT          "Jelenlegi"
    XTP_IDS_DIRECTORIES      "Könyvtárak:"
    XTP_IDS_FILES            "Fájlok:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "Rendben"
    XTP_IDS_TASK_YES          "Igen"
    XTP_IDS_TASK_NO           "Nem"
    XTP_IDS_TASK_RETRY        "Próbálja újra"
    XTP_IDS_TASK_CANCEL       "Megszünteti"
    XTP_IDS_TASK_CLOSE        "Bezárás"
    XTP_IDS_TASK_APPLY        "Alkalmaz"
    XTP_IDS_TASK_HELP         "Segítség"
    XTP_IDS_TASK_SEE_DETAILS  "Mutasd a részleteket"
    XTP_IDS_TASK_HIDE_DETAILS "Rejtett részletek"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_BACKGROUND1        "1. háttér"
    XTP_IDS_BACKGROUND2        "2. háttér"
    XTP_IDS_TEXT1              "1. szöveg"
    XTP_IDS_TEXT2              "2. szöveg"
    XTP_IDS_ACCENT1            "1. akcentus"
    XTP_IDS_ACCENT2            "2. akcentus"
    XTP_IDS_ACCENT3            "3. akcentus"
    XTP_IDS_ACCENT4            "4. akcentus"
    XTP_IDS_ACCENT5            "5. akcentus"
    XTP_IDS_ACCENT6            "6. akcentus"
    XTP_IDS_LIGHTER            "Öngyújtó"
    XTP_IDS_DARKER             "Sötétebb"
END

STRINGTABLE DISCARDABLE
BEGIN
    XTP_IDS_PREVIEW_DEFAULT_LOADING_MESSAGE "'%' elõnézetének lekérése"
    XTP_IDS_PREVIEW_DEFAULT_FAILED_MESSAGE  "A(z) '%' elõnézete nem érhetõ el"
END

#endif // !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_HUN))
