// Controls resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "Controls/Resource.h"
#include "Controls/res/Resource-Neutral.rc"

#if !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN))
#ifdef _WIN32
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 127
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "今日のヒント"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "近い",IDOK,224,108,50,14
    CONTROL         "起動時にヒントを表示",XTP_IDC_CHK_DAYTIP_SHOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,110,140,10
    PUSHBUTTON      "次のヒント",XTP_IDC_BTN_DAYTIP_NEXT,170,108,50,14
    CONTROL         "",XTP_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT WS_VISIBLE,0,0,279,103
END

XTP_IDD_COLORCUSTOM DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "カスタム"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "色:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XTP_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "フエ:",XTP_IDC_TXT_HUE,7,108,21,8
    EDITTEXT        XTP_IDC_EDIT_HUE,34,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,58,105,
                    10,14
    LTEXT           "飽和:",XTP_IDC_TXT_SAT,7,125,25,8
    EDITTEXT        XTP_IDC_EDIT_SAT,34,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,58,122,
                    10,14
    LTEXT           "輝度:",XTP_IDC_TXT_LUM,7,140,19,8
    EDITTEXT        XTP_IDC_EDIT_LUM,34,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,58,137,
                    10,14
    LTEXT           "赤:",XTP_IDC_TXT_RED,74,108,23,8
    EDITTEXT        XTP_IDC_EDIT_RED,98,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XTP_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,122,105,
                    11,14
    LTEXT           "緑:",XTP_IDC_TXT_GREEN,74,125,23,8
    EDITTEXT        XTP_IDC_EDIT_GREEN,98,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XTP_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,122,122,
                    11,14
    LTEXT           "青い:",XTP_IDC_TXT_BLUE,74,140,23,8
    EDITTEXT        XTP_IDC_EDIT_BLUE,98,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XTP_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,122,137,
                    11,14
END

XTP_IDD_COLORSTANDARD DIALOGEX DISCARDABLE  0, 0, 147, 161
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "標準"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "色:",XTP_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XTP_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XTP_IDD_WINDOWLIST DIALOGEX DISCARDABLE  0, 0, 301, 164
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "ウィンドウの配置"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "ウィンドウを選択:",IDC_STATIC,7,7,147,8
    LISTBOX         XTP_IDC_LBOX_WINDOWS,7,17,211,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "活性化",XTP_IDC_BTN_ACTIVATE,223,7,72,14
    PUSHBUTTON      "わかった",IDOK,223,24,72,14
    PUSHBUTTON      "セーブ",XTP_IDC_BTN_SAVE,223,41,72,14
    PUSHBUTTON      "ウィンドウを閉じる",XTP_IDC_BTN_CLOSEWINDOWS,223,58,72,14
    PUSHBUTTON      "カスケード",XTP_IDC_BTN_CASCADE,223,75,72,14
    PUSHBUTTON      "横に並べて表示",XTP_IDC_BTN_TILEHORZ,223,92,72,14
    PUSHBUTTON      "縦に並べる",XTP_IDC_BTN_TILEVERT,223,109,72,14
    PUSHBUTTON      "最小化",XTP_IDC_BTN_MINIMIZE,223,126,72,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XTP_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "小さいアイコン",                XTP_IDC_SMALLICON
        MENUITEM "大きなアイコン",                XTP_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "元に戻す",                       ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "切る",                        ID_EDIT_CUT
        MENUITEM "コピー",                       ID_EDIT_COPY
        MENUITEM "ペースト",                      ID_EDIT_PASTE
        MENUITEM "消去",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "すべて選択",                 ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "ソート昇順",              XTP_IDC_SORTASC
        MENUITEM "降順で並べ替え",             XTP_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "アライメント"
        BEGIN
            MENUITEM "左揃え",                  XTP_IDC_ALIGNLEFT
            MENUITEM "中央揃え",                XTP_IDC_ALIGNCENTER
            MENUITEM "右揃え",                 XTP_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_BTN_NEW          "新しい"
    XTP_IDC_BTN_DELETE       "消去"
    XTP_IDC_BTN_UP           "上に移動"
    XTP_IDC_BTN_DOWN         "下に移動"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_NAME             "名前"
    XTP_IDS_SIZE             "サイズ"
    XTP_IDS_TYPE             "タイプ"
    XTP_IDS_MODIFIED         "修正済み"
    XTP_IDS_COLOR_AUTO       "自動"
    XTP_IDS_COLOR_CUST       "カスタマイズ..."
    XTP_IDS_SELDIR           "ディレクトリを選択:"
    XTP_IDS_DOT              "..."
    XTP_IDS_DEFEXT           "*.*"
    XTP_IDS_DEFFILT          "すべてのファイル (*.*)|*.*||"
    XTP_IDS_DEFTITLE         "ディレクトリ名:"
    XTP_IDS_CLICKKEEPOPEN    "押しピンをクリックして開いたままにします"
    XTP_IDS_SE_0             "オペレーティング システムのメモリまたはリソースが不足しています。"
    XTP_IDS_SE_ERR_FNF       "指定されたファイルが見つかりませんでした。"
    XTP_IDS_SE_ERR_PNF       "指定されたパスが見つかりませんでした。"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_SE_ERR_ACCESSDENIED    "オペレーティング システムは、指定されたファイルへのアクセスを拒否しました。"
    XTP_IDS_SE_ERR_OOM             "操作を完了するのに十分なメモリがありませんでした。"
    XTP_IDS_SE_ERR_BAD_FORMAT      ".exe ファイルが無効です (非 Win32R .exe または .exe イメージのエラー)。"
    XTP_IDS_SE_ERR_SHARE           "共有違反が発生しました。"
    XTP_IDS_SE_ERR_ASSOCINCOMPLETE "ファイル名の関連付けが不完全または無効です。"
    XTP_IDS_SE_ERR_DDETIMEOUT      "要求がタイムアウトしたため、DDE トランザクションを完了できませんでした。"
    XTP_IDS_SE_ERR_DDEFAIL         "DDE トランザクションが失敗しました。"
    XTP_IDS_SE_ERR_DDEBUSY         "他の DDE トランザクションが処理中であったため、DDE トランザクションを完了できませんでした。"
    XTP_IDS_SE_ERR_NOASSOC         "指定されたファイル名拡張子に関連付けられたアプリケーションはありません。"
    XTP_IDS_SE_ERR_DLLNOTFOUND     "指定されたダイナミック リンク ライブラリが見つかりませんでした。"
    XTP_IDS_SE_ERR_UNKOWN          "不明なエラー番号 %d が発生しました。"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_SORTASC          "昇順で並べ替え\n昇順で並べ替え"
    XTP_IDC_SORTDSC          "降順に並べ替え\n降順に並べ替え"
    XTP_IDC_ALIGNLEFT        "段落を左余白に揃えます\n左揃え"
    XTP_IDC_ALIGNCENTER      "マージン間の段落を中央揃え\n中央揃え"
    XTP_IDC_ALIGNRIGHT       "段落を右余白に揃えます\n右揃え"
    XTP_IDC_LARGEICON        "大きなアイコンを表示\n大きなアイコン"
    XTP_IDC_SMALLICON        "小さいアイコンを表示\n小さいアイコン"
    XTP_IDC_REMOVEITEM       "Outlook バーから削除"
    XTP_IDC_RENAMEITEM       "ショートカットの名前を変更"
    XTP_IDC_REMOVEGROUP      "グループを削除"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDC_RENAMEGROUP      "グループの名前を変更"
    XTP_IDS_HEX              "16 進数"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_STD_COLORS       "標準色"
	XTP_IDS_RECENT_COLORS    "最近の色"
	XTP_IDS_THEME_COLORS     "テーマの色"
	XTP_IDS_TAGCLOUD_TIP     "タグ: %s、スコア: %d"
    XTP_IDS_TIPTEXT          "ヒント テキスト"
    XTP_IDS_DIDYOUKNOW       "知ってますか..."
    XTP_IDS_FILE_ABSENT      "指定されたファイルは存在しません。"
    XTP_IDS_FILE_CORRUPT     "ファイルの読み取りエラー。"
    XTP_IDS_COLOR_CAPTION    "色"
    XTP_IDS_NEW              "新しい"
    XTP_IDS_CURRENT          "現時点の"
    XTP_IDS_DIRECTORIES      "ディレクトリ:"
    XTP_IDS_FILES            "ファイル:"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_TASK_OK           "わかった"
    XTP_IDS_TASK_YES          "はい"
    XTP_IDS_TASK_NO           "いいえ"
    XTP_IDS_TASK_RETRY        "リトライ"
    XTP_IDS_TASK_CANCEL       "キャンセル"
    XTP_IDS_TASK_CLOSE        "近い"
    XTP_IDS_TASK_APPLY        "申し込み"
    XTP_IDS_TASK_HELP         "ヘルプ"
    XTP_IDS_TASK_SEE_DETAILS  "詳細を表示"
    XTP_IDS_TASK_HIDE_DETAILS "詳細を非表示"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_BACKGROUND1        "背景 1"
    XTP_IDS_BACKGROUND2        "背景 2"
    XTP_IDS_TEXT1              "テキスト 1"
    XTP_IDS_TEXT2              "テキスト 2"
    XTP_IDS_ACCENT1            "アクセント1"
    XTP_IDS_ACCENT2            "アクセント2"
    XTP_IDS_ACCENT3            "アクセント3"
    XTP_IDS_ACCENT4            "アクセント4"
    XTP_IDS_ACCENT5            "アクセント5"
    XTP_IDS_ACCENT6            "アクセント6"
    XTP_IDS_LIGHTER            "ライター"
    XTP_IDS_DARKER             "より暗い"
END

STRINGTABLE DISCARDABLE
BEGIN
    XTP_IDS_PREVIEW_DEFAULT_LOADING_MESSAGE "'%' のプレビューを取得しています"
    XTP_IDS_PREVIEW_DEFAULT_FAILED_MESSAGE  "'%' のプレビューを取得できません"
END

#endif // !defined(_XTP_NO_STANDARDCONTROLS_RES) && ( !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN))
