// SyntaxEdit resource file
//
// (c)1998-2023 Codejock Software, All Rights Reserved.
//
// THIS SOURCE FILE IS THE PROPERTY OF CODEJOCK SOFTWARE AND IS NOT TO BE
// RE-DISTRIBUTED BY ANY MEANS WHATSOEVER WITHOUT THE EXPRESSED WRITTEN
// CONSENT OF CODEJOCK SOFTWARE.
//
// THIS SOURCE CODE CAN ONLY BE USED UNDER THE TERMS AND CONDITIONS OUTLINED
// IN THE XTREME TOOLKIT PRO LICENSE AGREEMENT. CODEJOCK SOFTWARE GRANTS TO
// YOU (ONE SOFTWARE DEVELOPER) THE LIMITED RIGHT TO USE THIS SOFTWARE ON A
// SINGLE COMPUTER.
//
// CONTACT INFORMATION:
// support@codejock.com
// http://www.codejock.com
//
/////////////////////////////////////////////////////////////////////////////

#include "SyntaxEdit/Resource.h"
#include "SyntaxEdit/res/Resource-Neutral.rc"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_LTH)
#ifdef _WIN32
LANGUAGE LANG_LITHUANIAN, SUBLANG_LITHUANIAN
#pragma code_page(1257)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XTP_IDD_EDIT_PAGEEDITOR DIALOGEX DISCARDABLE  0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Redaktorius"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Lango nustatymai",IDC_STATIC,7,7,246,76
    CONTROL         "Vertikali slinkties juosta",XTP_IDC_EDIT_CHK_VERT_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,21,105,10
    CONTROL         "Horizontali slinkties juosta",XTP_IDC_EDIT_CHK_HORZ_SCROLLBAR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,32,105,10
    CONTROL         "Eilës numeris",XTP_IDC_EDIT_CHK_LINE_NUMBERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,43,105,10
    CONTROL         "Pasirinkimo paraðtë",XTP_IDC_EDIT_CHK_SELMARGIN,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,54,105,10
    CONTROL         "Sulankstomi mazgai",XTP_IDC_EDIT_CHK_COLLAPSIBLE_NODES,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,65,105,10
    CONTROL         "Automatinis átraukimas",XTP_IDC_EDIT_CHK_AUTO_INDENT,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,20,115,10
    CONTROL         "Virtuali erdvë",XTP_IDC_EDIT_CHK_VIRTUAL_SPACE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,130,35,115,10
    CONTROL         "Sintaksës spalvinimas",XTP_IDC_EDIT_CHK_SYNTAX_COLOR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,130,50,115,10
    GROUPBOX        "Skirtukai",IDC_STATIC,7,88,162,43
    LTEXT           "Skirtuko dydis:",IDC_STATIC,15,98,50,8
    EDITTEXT        XTP_IDC_EDIT_TABS_SIZE,15,110,46,14,ES_AUTOHSCROLL
    CONTROL         "Áterpti tarpus",XTP_IDC_EDIT_RAD_TABS_SPACES,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,92,102,58,10
    CONTROL         "Laikyti skirtukus",XTP_IDC_EDIT_RAD_TABS_TAB,"Button",
                    BS_AUTORADIOBUTTON,92,113,65,10
    GROUPBOX        "Perraðyti Caret",XTP_IDC_EDIT_GBOX_CARET,175,88,78,43,
                    WS_GROUP
    CONTROL         "Plonas",XTP_IDC_EDIT_RAD_CARET_THIN,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,181,102,41,10
    CONTROL         "Storas",XTP_IDC_EDIT_RAD_CARET_THICK,"Button",
                    BS_AUTORADIOBUTTON,181,113,46,10
    GROUPBOX        "Iðsaugoti parinktis",IDC_STATIC,7,135,246,37
    CONTROL         "Automatinis iðoriðkai modifikuotø failø ákëlimas ið naujo",
                    XTP_IDC_EDIT_CHK_AUTO_RELOAD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,15,151,232,10
END
XTP_IDD_EDIT_PAGEFONT DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Redaktorius ðriftas"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Ðriftas:",XTP_IDC_EDIT_TXT_FONTNAMES,7,7,40,9
    COMBOBOX        XTP_IDC_EDIT_COMB_NAMES,7,18,119,55,CBS_SIMPLE | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_DISABLENOSCROLL | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Ðrifto stilius:",XTP_IDC_EDIT_TXT_FONTSTYLES,134,7,45,9
    COMBOBOX        XTP_IDC_EDIT_COMB_STYLES,134,18,75,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dydis:",XTP_IDC_EDIT_TXT_FONTSIZES,217,7,30,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SIZES,217,18,36,55,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Áprastas tekstas:",IDC_STATIC,7,68,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,7,78,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,113,78,13,12
    LTEXT           "Áprastas fonas:",IDC_STATIC,7,95,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,7,105,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,113,105,13,12
    LTEXT           "Pasirinktas tekstas:",IDC_STATIC,7,122,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,7,132,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,113,132,13,12
    LTEXT           "Pasirinktas fonas:",IDC_STATIC,7,149,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,7,159,103,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,113,159,13,12
    LTEXT           "Scenarijus:",XTP_IDC_EDIT_TXT_FONTSCRIPT,135,69,100,9
    COMBOBOX        XTP_IDC_EDIT_COMB_SCRIPT,134,78,119,115,CBS_DROPDOWNLIST | 
                    CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Pavyzdys normalus / pasirinktas:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_PAGECOLOR DIALOGEX 0, 0, 260, 180
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Sintaksës spalva"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Failo tipas:",XTP_IDC_EDIT_TXT_SCHEMANAMES,7,7,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMANAMES,7,17,123,64,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Atributai:",XTP_IDC_EDIT_TXT_SCHEMAPROP,7,85,123,9
    LISTBOX         XTP_IDC_EDIT_LBOX_SCHEMAPROP,7,95,123,77,LBS_SORT | 
                    LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Normalus tekstas:",IDC_STATIC,135,7,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXT,135,17,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXT,238,17,13,12
    LTEXT           "Normalus fonas:",IDC_STATIC,135,33,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACK,135,43,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACK,238,43,13,12
    LTEXT           "Pasirinktas tekstas:",IDC_STATIC,135,59,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_TEXTSEL,135,69,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_TEXTSEL,238,69,13,12
    LTEXT           "Pasirinktas fonas:",IDC_STATIC,135,85,100,8
    COMBOBOX        XTP_IDC_EDIT_COMB_BACKSEL,135,95,100,100,CBS_DROPDOWNLIST | 
                    CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "...",XTP_IDC_EDIT_BTN_CUSTOM_BACKSEL,238,95,13,12
    CONTROL         "Paryðkintas",XTP_IDC_EDIT_CHK_BOLD,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,135,114,30,10
    CONTROL         "Kursyvas",XTP_IDC_EDIT_CHK_ITALIC,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,170,114,31,10
    CONTROL         "Pabraukti",XTP_IDC_EDIT_CHK_UNDERLINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,206,114,46,10
    GROUPBOX        "Pavyzdys Normalus / Pasirinktas:",XTP_IDC_EDIT_GRP_SAMPLE,135,128,
                    118,44,WS_GROUP
    CTEXT           "AaBbCc",XTP_IDC_EDIT_TXT_SAMPLE,143,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
    CTEXT           "XxYyZz",XTP_IDC_EDIT_TXT_SAMPLESEL,196,140,49,26,
                    SS_CENTERIMAGE,WS_EX_CLIENTEDGE
END

XTP_IDD_EDIT_SEARCH_FIND DIALOGEX DISCARDABLE  0, 0, 271, 82
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rasti"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Rasti kà",IDC_STATIC,7,9,43,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,51,6,154,153,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Galimybës",IDC_STATIC,7,30,113,45 
    CONTROL         "Suderinti tik visà þodá",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,43,100,10
    CONTROL         "Degtuko atvejis",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,58,100,10
    GROUPBOX        "Kryptis",IDC_STATIC,126,30,80,45
    CONTROL         "Ieðkoti aukðtyn",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON,134,43,65,10
    CONTROL         "Ieðkoti þemyn",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,58,65,10
    PUSHBUTTON      "Rasti kità",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Uþdaryti",IDCANCEL,214,26,50,14, WS_TABSTOP
END

XTP_IDD_EDIT_SEARCH_REPLACE DIALOGEX DISCARDABLE  0, 0, 271, 86
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rasti ir pakeisti"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Rasti tekstà",IDC_STATIC,7,9,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_FIND,61,6,143,154,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Pakeisti",IDC_STATIC,7,25,50,8,NOT WS_GROUP
    COMBOBOX        XTP_IDC_EDIT_COMBO_REPLACE,61,23,143,135,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Galimybës",IDC_STATIC,7,38,113,41
    CONTROL         "Suderinti tik visà þodá",XTP_IDC_EDIT_CHK_MATCH_WHOLE_WORD,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,51,100,10
    CONTROL         "Degtuko atvejis",XTP_IDC_EDIT_CHK_MATCH_CASE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,13,64,100,10
    GROUPBOX        "Kryptis",IDC_STATIC,126,38,80,41
    CONTROL         "Ieðkoti aukðtyn",XTP_IDC_EDIT_RADIO_UP,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP,134,51,65,10
    CONTROL         "Ieðkoti þemyn",XTP_IDC_EDIT_RADIO_DOWN,"Button",
                    BS_AUTORADIOBUTTON,134,64,65,10
    PUSHBUTTON      "Rasti kità",XTP_IDC_EDIT_BTN_FIND_NEXT,214,7,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Pakeiskite",XTP_IDC_EDIT_BTN_REPLACE,214,23,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Pakeisti viskà",XTP_IDC_EDIT_BTN_REPLACE_ALL,214,39,50,14,
                    WS_DISABLED | WS_TABSTOP
    PUSHBUTTON      "Uþdaryti",IDCANCEL,214,65,50,14, WS_TABSTOP
END

XTP_IDD_EDIT_GOTOLINE DIALOGEX DISCARDABLE  0, 0, 165, 55
STYLE DS_SETFONT | DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Eiti á eilutæ"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Eilës numeris:",XTP_IDC_EDIT_TXT_LINENO,5,5,155,8
    EDITTEXT        XTP_IDC_EDIT_LINENO,5,17,155,14,ES_AUTOHSCROLL | 
                    ES_NUMBER
    PUSHBUTTON      "Eiti á",XTP_IDC_EDIT_BTN_GOTO,56,36,50,14
    PUSHBUTTON      "Atðaukti",IDCANCEL,110,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNDEFINED     "Neapibrëþta komanda"
    XTP_IDS_EDIT_MULTIPLE      "Kelios operacijos"
    XTP_IDS_EDIT_DELETE        "Iðtrinti: "
    XTP_IDS_EDIT_INSERT        "Ádëti: "
    XTP_IDS_EDIT_TYPING        "Raðymas"
    XTP_IDS_EDIT_PASTE         "Áklijuoti"
    XTP_IDS_EDIT_MOVE          "Judëti"
    XTP_IDS_EDIT_COPY          "Kopijuoti"
    XTP_IDS_EDIT_INDENTATION   "Átrauka"
    XTP_IDS_EDIT_INDENT_DECREASE "Sumaþinti átraukà"
    XTP_IDS_EDIT_FORMAT        "Formatas"
    XTP_IDS_EDIT_TABIFY        "Tabify"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_UNTABIFY      "Untabify"
    XTP_IDS_EDIT_REPLACE_ALL   "Pakeiskite visus"
    XTP_IDS_EDIT_CASE          "Keisti pasirinkimo raidæ"
    XTP_IDS_EDIT_DELETE_TEXT_BLOCK "Iðtrinti teksto blokà"
    XTP_IDS_EDIT_MOVE_HERE     "Perkelti èia"
    XTP_IDS_EDIT_COPY_HERE     "Kopijuoti èia"
    XTP_IDS_EDIT_CANCEL        "Atðaukti"
    XTP_IDS_EDIT_MSG_WARN_RELOAD 
                            "Failas '%s' pakeistas iðorinio ðaltinio!\nAr norite ákelti ið naujo?"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_CUSTOM        "Pasirinktinis"
    XTP_IDS_EDIT_REGULAR       "Reguliarus"
    XTP_IDS_EDIT_BOLD          "Paryðkintas"
    XTP_IDS_EDIT_ITALIC        "Kursyvas"
    XTP_IDS_EDIT_BOLDITALIC    "Paryðkintas kursyvas"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDD_EDIT_OPTIONS       "Redagavimo parinktys"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_MSG_FREPLACED "Rasta ir pakeista %d atitikmuo!"
    XTP_IDS_EDIT_MSG_FSEARCH   "Paieðkos baigtos!"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_EDIT_LINENO        "Eilutës numeris (1–%d):"
    XTP_IDS_EDIT_OPENSCHEMACMD "Atidarykite schemos failà"
    XTP_IDS_EDIT_OPENSCHEMAMSG "Ar norite uþdaryti ""Parinkèiø dialogo langà"" ir redaktoriaus lange atidaryti schemos failà ""%s%s""?"
END

#endif // !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_LTH)
